
<% include ./layouts/header.ejs %>
<% include ./layouts/nav.ejs %>

<div class="well col-md-8 col-md-offset-2" style="margin-top: 20px">
<button class="btn btn-primary" type="button">
  Total number of Posts <span class="badge"><%=posts.length%></span>
</button><br><br>
  <% for (var i=0; i < posts.length; i++){%>
  <div class="panel panel-primary">
    
    <div class="panel-heading">
      <span class="panel-title"><%= posts[i].title%></span><span style="float:right;color: #c4ff00;"><%= posts[
      i].timestamp.toString().split(" ").splice(1,4).join(" ") %> </span> 
    </div>

    <div class="panel-body">
      <%= posts[i].message%>
    </div>
  
  </div>
  <% }; %>
</div>
